
body {
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

header {
  background-color: #000;
  padding: 15px;
  text-align: center;
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header ul li {
  display: inline;
  margin: 0 15px;
}

header ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

@media(max-width: 768px){
  header ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size:0.8rem;
  }
  
}

.about-section {
  padding: 60px 20px;
  background-color: #f7f7f7;
}

.about-container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.about-container h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #000;
}

.about-container p {
  font-size: 18px;
  line-height: 1.6;
  color: #555;
}

.about-container img {
  margin-top: 30px;
  max-width: 100%;
  height: auto;
}

footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  margin-top: 50px;
}
